[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/contracts"]
	path = lib/fx-portal
	url = https://github.com/fx-portal/contracts
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/transmissions11/solmate
	branch = v7
[submodule "lib/UDS"]
	path = lib/UDS
	url = https://github.com/0xPhaze/UDS
[submodule "lib/futils"]
	path = lib/futils
	url = https://github.com/0xPhaze/futils
[submodule "lib/upgrade-scripts"]
	path = lib/upgrade-scripts
	url = https://github.com/0xPhaze/upgrade-scripts
[submodule "lib/solady"]
	path = lib/solady
	url = https://github.com/Vectorized/solady
[submodule "lib/fx-contracts"]
	path = lib/fx-contracts
	url = https://github.com/0xPhaze/fx-contracts
[submodule "lib/ERC721M"]
	path = lib/ERC721M
	url = https://github.com/0xPhaze/ERC721M
