[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/brockelmore/forge-std
[submodule "lib/contracts"]
	path = lib/fx-portal
	url = https://github.com/fx-portal/contracts
[submodule "lib/UDS"]
	path = lib/UDS
	url = https://github.com/0xphaze/UDS
[submodule "lib/chainlink"]
	path = lib/chainlink
	url = https://github.com/smartcontractkit/chainlink
[submodule "lib/solmate"]
	path = lib/solmate
	url = https://github.com/Rari-capital/solmate
